* {
    margin: 0;
    height: auto;
    // if I take the width away the photos in the recipe card disapears.. 
    width: 100%;

}


.buttons {
    background-color: #3898A5;
}

// #3898A5
@media only screen and (min-width: 768px) {}